BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: true
  AfterClass: true
  AfterCaseLabel: true
  BeforeLambdaBody: true
ColumnLimit: 200
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
SpacesBeforeTrailingComments: 1
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: None
EmptyLineAfterAccessModifier: Never
Cpp11BracedListStyle: false
